[submodule "openthread"]
    path = openthread
    url = https://github.com/NXP/openthread.git
[submodule "third_party/nxp_matter_support"]
    path = third_party/nxp_matter_support
    url = https://github.com/NXP/nxp_matter_support.git
